<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial da Loteria</title>
</head>
<body>
<h1>Bem-vindo à Página Inicial da Loteria</h1>
<p>Escolha uma das opções abaixo para ver os resultados das loterias:</p>
<ul>
    <li><a href="/loteria/megasena">Mega Sena</a></li>
    <li><a href="/loteria/diadesorte">Dia de Sorte</a></li>
    <li><a href="/loteria/duplasena">Dupla Sena</a></li>
    <li><a href="/loteria/lotofacil">Lotofácil</a></li>
    <li><a href="/loteria/lotomania">Lotomania</a></li>
    <li><a href="/loteria/quina">Quina</a></li>
    <li><a href="/loteria/supersete">Super Sete</a></li>
    <li><a href="/loteria/timemania">Timemania</a></li>
    <li><a href="/loteria/maismilionaria">+Milionária</a></li>
</ul>
</body>
</html>
